<div class="container main">
    <div *ngIf="this.storageService.isAdmin()" class="row pt-4">
        <div class="col btn btn-success">
          <a class="dropdown-item" href="/admin/dodaj/wyjazd">Nowy wyjazd</a>
        </div>
        <div class="col btn btn-secondary">
            <a class="dropdown-item" attr.href="/admin/edytuj/wyjazd/{{this.tripId}}">Edytuj wyjazd</a>
        </div>
        <div class="col btn btn-danger">
            <a class="dropdown-item" (click)="openModal('delete-trip-modal')">Usuń wyjazd</a>
        </div>  
      </div>
    <div  class="section">
        <div class="trip-section row">
            <div class="col-8 trip-section-item-image">
                <img *ngIf="trip.imageContent === undefined || trip.imageContent === null || trip.imageContent ===''" class="trip-section-image" src="../../../assets/images/trip.png">
                <img *ngIf="trip.imageContent !== undefined || trip.imageContent !== null && trip.imageContent !==''" class="trip-section-image" [src]="trip.imageContent | sanitizeImg">
            </div>
            <div class="col-4 trip-section-item trip-section-item-description">
                <span class="trip-section-item-title" style="font-weight: bold;">{{trip.country}}</span><br>
                <span class="trip-section-item-title" style="font-weight: bold;">{{trip.shortName}}</span><br><br>
                <span class="trip-section-item-property">Wyjazd: {{validationService.formatDate(trip.from)}}</span><br>
                <span class="trip-section-item-property">Powrót: {{validationService.formatDate(trip.to)}}</span><br>
                <span class="trip-section-item-property">Miejsce wyjazdu: {{trip.departureCity}}</span><br>
                <span class="trip-section-item-property">Transport: {{trip.transportType!.name}}</span><br>
                <span class="trip-section-item-property">Hotel: 
                    <span class="fa fa-star" [class.checked]="this.validationService.convertToInt(trip.hotelStars!) > 0"></span>
                    <span class="fa fa-star" [class.checked]="this.validationService.convertToInt(trip.hotelStars!) > 1"></span>
                    <span class="fa fa-star" [class.checked]="this.validationService.convertToInt(trip.hotelStars!) > 2"></span>
                    <span class="fa fa-star" [class.checked]="this.validationService.convertToInt(trip.hotelStars!) > 3"></span>
                    <span class="fa fa-star" [class.checked]="this.validationService.convertToInt(trip.hotelStars!) > 4"></span>
                    {{trip.hotel}} </span>
                    <br>
                <span class="trip-section-item-property">Wyżywienie: {{trip.meals}}</span><br>
                <span class="trip-section-item-property">Liczba miejsc: {{trip.availableSeats}}</span><br><br>
                <div class="trip-section-prize">
                    <span class="trip-section-item-oldPrize"><span *ngIf="trip.oldPrize !== undefined && trip.oldPrize !== null && trip.oldPrize !== ''" style="text-decoration: line-through; color:darkred;">{{trip.oldPrize + "zł"}}</span></span><br>
                    <span class="trip-section-item-prize">{{trip.prize + "zł/os."}} </span><br>
                </div>
            </div>
    </div>
    </div>
</div>
<div class="container main">
    <div class="tinyMceContent" [innerHTML]="trip.description | sanitizeHtml">
        
    </div>
</div>

<jw-modal id="delete-trip-modal" url="text">
    <div class="card">
        <h4 class="card-header">Usuń wyjazd</h4>
        <div class="card-body">
            <div class="mb-3">
                <label style="margin-bottom: 10px;" aria-label="Czy na pewno chcesz usunąć wyjazd?" class="input-label">Czy na pewno chcesz usunąć wyjazd?</label>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-danger" (click)="deleteTrip();">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Usuń
                </button>
                <button class="btn btn-light title-font dropbtn" (click)="closeModal('delete-trip-modal');" tabindex="0">Zamknij</button>
            </div>
        </div>
    </div>
</jw-modal>