.footer{
    background-color: #8bc19d;
    width: 100%;
  }

  .footer a:hover{
    text-decoration: underline;
  }

.footer-email{
  cursor: pointer;
}

.footer-email:hover{
  text-decoration: underline;
}

  .footer-container{
    margin: auto;
    max-width: 1200px;
}

.row{
  margin-right: 0;
}

.footer-image{
  text-align: right;
}

@media (max-width: 767px){
  .footer-image{
    text-align: center;
  }
}
