<div class="header bg-light">
    
    <div class="menu">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <h1><i class="bi bi-house"></i></h1>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Wyjazdy
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div *ngFor="let tripCategory of tripCategories">
                    <li><a class="dropdown-item" href="/wyjazdy/{{tripCategory.name}}">{{tripCategory.name}}</a></li>
                  </div>
                </ul>
              </li>
              <div *ngFor="let subPage of subPages">
                <li class="nav-item">
                  <a class="nav-link" href="/{{subPage.name}}">{{subPage.name}}</a>
                </li>
              </div>
              <li class="nav-item">
                <a class="nav-link" href="/kontakt">Kontakt</a>
              </li>
            </ul>
            <button *ngIf="!this._storageService.isLoggedIn()" class="btn btn-success btn-login" (click)="openModel('login-modal');">Zaloguj</button>
            <button *ngIf="this._storageService.isLoggedIn()" class="btn btn-secondary btn-logout" (click)="logout();">Wyloguj</button>
          </div>
        </div>
      </nav>
    </div>
    <div class="logo">
      <div class="search-bar">
        <div class="container search-bar-container">
          <div class="row">
            <div class="col">
              <label for="selectCountryRef" class="form-label form-label-search">Dokąd?</label>
              <select class="form-select" ngModel #selectCountryRef="ngModel"  [(ngModel)]="country">
                <option value="">Gdziekolwiek...</option>
                <option *ngFor="let country of countries;" [value]="country" >
                    {{country}}
                </option>
              </select>
            </div>
            <div class="col">
              <label for="dateFrom" class="form-label form-label-search">Od kiedy?</label>
              <input type="date" class="form-control date-selector"  min="2024-01-01" #dateFrom="ngModel" [(ngModel)]="from">
            </div>
            <div class="col">
              <label for="dateTo" class="form-label form-label-search">Do kiedy?</label>
              <input type="date" class="form-control date-selector"  min="2024-01-01" #dateTo="ngModel" [(ngModel)]="to">
            </div>
            <div class="col">
              <label for="selectDepartureCityRef" class="form-label form-label-search">Skąd?</label>
              <select class="form-select" ngModel #selectDepartureCityRef="ngModel"  [(ngModel)]="departureCity">
                <option value="">Skądkolwiek...</option>
                <option *ngFor="let departureCity of departureCities;" [value]="departureCity" >
                    {{departureCity}}
                </option>
              </select>
            </div>
            <div class="col">
              <label for="selectTransportTypeRef" class="form-label form-label-search">Typ transportu</label>
              <select class="form-select" ngModel #selectTransportTypeRef="ngModel"  [(ngModel)]="transportType">
                <option value="">Czymkolwiek...</option>
                <option *ngFor="let transportType of transportTypes;" [value]="transportType.name" >
                    {{transportType.name}}
                </option>
              </select>
            </div>
            <div class="col search-btn-container">
              <button class="btn btn-search">SZUKAJ</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<jw-modal id="login-modal" url="text" url="text">
  <div class="card">
    <h4 class="card-header">Logowanie</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" />
                <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                    <div *ngIf="f['username'].errors['required']">Wypełnij pole email</div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label">Hasło</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Wypełnij pole hasło</div>
                </div>
            </div>
            <div *ngIf="loginFailed" class="invalid-feedback" style="display:block; margin-bottom: 10px;">
              <div>Błędny login lub hasło.</div>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Login
                </button>
                <button class="btn btn-secondary title-font dropbtn" style="margin-left: 10px;" (click)="closeModal('login-modal');" tabindex="0">Close</button>
            </div>
        </form>
    </div>
</div>
</jw-modal>

