<div class="header">
    <div class="logo"></div>
    <div class="menu">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <h1><i class="bi bi-house"></i></h1>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarColor03" [ngbCollapse]="isCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Wyjazdy
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div *ngFor="let tripCategory of tripCategories">
                    <li><a class="dropdown-item" href="/wyjazdy/{{tripCategory.name}}">{{tripCategory.name}}</a></li>
                  </div>
                </ul>
              </li>
              <div *ngFor="let subPage of subPages">
                <li class="nav-item">
                  <a class="nav-link" href="/{{subPage.name}}">{{subPage.name}}</a>
                </li>
              </div>
              <li class="nav-item">
                <a class="nav-link" href="/kontakt">Kontakt</a>
              </li>
            </ul>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="..."
                aria-label="Szukaj"
              />
              <button class="btn btn-outline-success" type="submit">Szukaj</button>
            </form>
            <button *ngIf="!this._storageService.isLoggedIn()" class="btn btn-success btn-login" (click)="login();">Zaloguj</button>
            <button *ngIf="this._storageService.isLoggedIn()" class="btn btn-secondary btn-logout" (click)="logout();">Wyloguj</button>
          </div>
        </div>
      </nav>
    </div>
</div>