.logo{
    padding-top: 40px;
    padding-bottom: 40px;
    height: auto;
    width: 100%;
    background-color: #8bc19d;
    
    background-image: url('../../../assets/images/search-bar-background.png');
    background-repeat: repeat-x;
    background-size: contain;
}

.form-select{
    margin-top: 8px;
}

.menu{
    margin: auto;
    max-width:1200px;
}

.btn-logout{
    margin-left:40px;
}

.search-bar{
    margin: auto;
    max-width: 1200px;
}

.search-bar-container{
    background-color: white;
    border-radius: 7px;
    padding: 10px;
}

.search-btn-container{
    align-self: end;
    margin-bottom: 10px;
}

.btn-search{
    background-color: #4a845d;
    color: white;
    font-weight: bold;
    width: 100%;
}

.form-label-search{
    font-size: 12px;
}

@media (max-width: 993px){
    .btn-logout{
        margin-left:0px;
        margin-top:10px;
    }
}

.btn-login{
    margin-left:40px;
}

@media (max-width: 993px){
    .btn-login{
        margin-left:0px;
        margin-top:10px;
    }
  }