<app-text-field fieldName="Krótka nazwa" [value]="this.category.name" [isMandatory]="true" (answered)="saveAnswer('name', $event.answer)"></app-text-field>
<br>
<p style="text-align: center">
    <button [disabled]="loading" class="btn btn-success" (click)="submit()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
        Zapisz
    </button>
</p>

<jw-modal id="addtrip-failed-modal" url="text">
    <div class="card">
        <h4 class="card-header">Error</h4>
        <div class="card-body">
            <div class="mb-3">
                <label style="color: red; margin-bottom: 10px;" aria-label="Zapisywanie wycieczki nie powiodło się. Spróbuj ponownie." class="input-label">Zapisywanie nie powiodło się. Spróbuj ponownie.</label>
            </div>
            <div>
                <button class="btn btn-light title-font dropbtn" (click)="this.modalService.close('addtrip-failed-modal');" tabindex="0">Zamknij</button>
            </div>
        </div>
    </div>
</jw-modal>
