.carousel-trip{
    max-width:320px;
    border-style: solid;
    border-radius: 6px;
    border-color:#dfe7ef;
}

.home-section{
    padding-top:80px;
}

.text-section-item{
    padding:20px;
}

.text-section-image{
    max-width: -webkit-fill-available;
}

.carousel-image{
    max-width: -webkit-fill-available;
    min-width: 100%;
    min-height: 100%;
}

.carousel-image{

    width: 295px;
    height:200px;
    background: linear-gradient(90deg, rgba(128,128,128,1) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 100%);
}