.carousel-trip{
    max-width:320px;
    border-style: solid;
    border-radius: 6px;
    border-color:#dfe7ef;
}

.img-carousel{
    background-color: grey;
    background-size: clamp(100px, 320px, 320px);;
    opacity: 0.7;
    min-height: 200px;
}

.home-section{
    padding-top:80px;
}

.text-section-item{
    padding:20px;
}

.text-section-image{
    max-width: -webkit-fill-available;
}