
<div class="home-section">
<p-carousel [value]="highlightedTrips" [numVisible]="3" [numScroll]="1" [circular]="false" [responsiveOptions]="responsiveOptions">
  <ng-template let-trip pTemplate="item">
      <div class="border-1 surface-border border-round m-2 text-center py-5 px-3 carousel-trip">
          <div class="mb-3 ">
            <div class="w-6 shadow-2">
              <div  style="background: rgb(214, 214, 214); height: 200px;">
                <img class="carousel-image"  [src]="getImageContent(trip.id) | sanitizeImg">
              </div>
            </div>
          </div>
          <div>
              <h4 class="mb-1">
                <span *ngIf="trip.transportType.name == 'Autokar'"><i class="bi bi-bus-front-fill"></i></span>
                <span *ngIf="trip.transportType.name == 'Dojazd własny'"><i class="bi bi-car-front-fill"></i></span>
                <span *ngIf="trip.transportType.name == 'Samolot'"><i class="bi bi-airplane-front-fill"></i></span>
                {{ trip.country }}, 
                {{ trip.shortName }}</h4>
              <h6 class="mt-0 mb-3">{{ "Od: " + validationService.formatDate(trip.from) +" Do: " + validationService.formatDate(trip.to)}}</h6>
              <button class="btn btn-secondary title-font dropbtn" tabindex="0" (click)="goToTrip(trip.tripCategory.name, trip.id)">więcej...</button>
          </div>
      </div>
  </ng-template>
</p-carousel>
<div class="row home-section text-section border-top">
  <div class="col-3 text-section-item">
    <img class="text-section-image " src="../../../assets/images/travel.jpg">
  </div>
  <div class="col-9 text-section-item">
    <h4>Rozpocznij podróz z nami</h4>
    <h4>Popularne kierunki podróży oraz wspaniała obsługa klienta</h4>
    <p>Od ponad dwudziestu lat zajmujemy się organizacją wyjazdów na terenie całej Europy. Oprócz oferty typowo wczasowej w okresenie letnim, oferujemy Państwu wyjazdy objazdowe, tematyczne, pielgrzymki oraz szkolenia, a w okresie zimowym wyjazdy w góry na narty i snowboard.</p>
  </div>

</div>

<div class="row home-section text-section border-top">
  
  <div class="col-9 text-section-item">
    <h4>Ponad 20 lat doświadczenia</h4>
    <p>Posiadamy Zezwolenie Organizatora Turystyki, Pośredników Turystycznych o wpisie do rejestru pod nr 442 oraz wymagane zabezpieczenie finansowe na wypadek niewypłacalnosci w formie gwarancji bankowej na kwotę 42 000 euro.</p>
  </div>
  <div class="col-3 text-section-item">
    <img class="text-section-image" src="../../../assets/images/certyfikat.png">
  </div>
</div>

</div>