
<div class="container main">
    <div *ngIf="this.storageService.isAdmin()" class="row pt-4">
        <div class="col btn btn-success">
            <a class="dropdown-item" href="/admin/dodaj/wyjazd">Nowy wyjazd</a>
          </div>
        <div class="col btn btn-success">
          <a class="dropdown-item" href="/admin/dodaj/kategoria">Nowa kategoria</a>
        </div>
        <div class="col btn btn-secondary">
            <a class="dropdown-item" attr.href="/admin/edytuj/kategoria/{{this.search.category}}">Edytuj kategorię</a>
        </div>
        <div class="col btn btn-danger">
            <a class="dropdown-item" (click)="openModal('delete-category-modal')">Usuń kategorię</a>
        </div>  
    </div>
    <div *ngFor="let trip of currentCategory.trips;" class="section">
        <div class="trip-section">

        
        <div class="row trip-section-item-image image-horizontal m-0">
            <div class="carousel-image-container">
                <img *ngIf="getImageContent(trip.id) !== ''" class="carousel-image"  [src]="getImageContent(trip.id) | sanitizeImg">
            </div>
        </div>
        <div class="row m-0">
            <div class="col-3 trip-section-item-image image-vertical m-0">
                <div class="carousel-image-container">
                    <img *ngIf="getImageContent(trip.id) !== ''" class="carousel-image"  [src]="getImageContent(trip.id) | sanitizeImg">
                </div>
            </div>
            <div class="col-5 trip-section-item trip-section-item-description">
                <span class="trip-section-item-title" style="font-weight: bold;">{{trip.country}}, {{trip.shortName}}</span><br>
                <span class="trip-section-item-property">Wyjazd: {{validationService.formatDate(trip.from)}}</span><br>
                <span class="trip-section-item-property">Powrót: {{validationService.formatDate(trip.to)}}</span><br>
                <span class="trip-section-item-property">Miejsce wyjazdu: {{trip.departureCity}}</span><br>
                <span class="trip-section-item-property">Transport: {{trip.transportType!.name}}</span><br>
                <span class="trip-section-item-property">Hotel: 
                    <span class="fa fa-star" [class.checked]="this.validationService.convertToInt(trip.hotelStars!) > 0"></span>
                    <span class="fa fa-star" [class.checked]="this.validationService.convertToInt(trip.hotelStars!) > 1"></span>
                    <span class="fa fa-star" [class.checked]="this.validationService.convertToInt(trip.hotelStars!) > 2"></span>
                    <span class="fa fa-star" [class.checked]="this.validationService.convertToInt(trip.hotelStars!) > 3"></span>
                    <span class="fa fa-star" [class.checked]="this.validationService.convertToInt(trip.hotelStars!) > 4"></span>
                    {{trip.hotel}} </span>
                    <br>
                <span class="trip-section-item-property">Wyżywienie: {{trip.meals}}</span><br>
            </div>
            <div class="col-1 trip-section-item-image">
            </div>
            <div class="col-3 trip-section-item" style="text-align: center; align-self: center;">
                <span class="trip-section-item-oldPrize"><span *ngIf="trip.oldPrize !== undefined && trip.oldPrize !== null && trip.oldPrize !== ''" style="text-decoration: line-through; color:darkred;">{{trip.oldPrize + "zł"}}</span></span><br>
                <span class="trip-section-item-prize">{{trip.prize + "zł/os."}} </span><br>
                <div class="btn-more-section"><a class="btn btn-secondary btn-more" tabindex="0" [href]="goToTripUrl(trip.id!)">więcej...</a></div>
            </div>
        </div>
    </div>
    </div>
</div>

<jw-modal id="delete-category-modal" url="text">
    <div class="card">
        <h4 class="card-header">Usuń kategorię</h4>
        <div class="card-body">
            <div class="mb-3">
                <label style="margin-bottom: 10px;" aria-label="Czy na pewno chcesz usunąć kategorie? Wszystkie przypisane wycieczki rownież zostaną usunięte." class="input-label">Czy na pewno chcesz usunąć kategorie? Wszystkie przypisane wycieczki rownież zostaną usunięte.</label>
            </div>
            <div>
                <button [disabled]="loading" class="btn btn-danger" (click)="deleteCategory();">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Usuń
                </button>
                <button class="btn btn-light title-font dropbtn" (click)="closeModal('delete-category-modal');" tabindex="0">Zamknij</button>
            </div>
        </div>
    </div>
</jw-modal>