<div class="container main">
    <div *ngFor="let trip of currentCategory.trips;" class="section">
        <div class="trip-section">

        
        <div class="row trip-section-item-image image-horizontal">
            <img class="trip-section-image" src="../../../assets/images/trip.png">
        </div>
        <div class="row">
            <div class="col-3 trip-section-item-image image-vertical">
                <img class="trip-section-image" src="../../../assets/images/trip.png">
            </div>
            <div class="col-5 trip-section-item trip-section-item-description">
                <span class="trip-section-item-title" style="font-weight: bold;">{{trip.country}}, {{trip.shortName}}</span><br>
                <span class="trip-section-item-property">Wyjazd: {{validationService.formatDate(trip.from)}}</span><br>
                <span class="trip-section-item-property">Powrót: {{validationService.formatDate(trip.to)}}</span><br>
                <span class="trip-section-item-property">Transport: {{trip.transportType.name}}</span><br>
                <span class="trip-section-item-property">Hotel: 
                    <span class="fa fa-star" [class.checked]="this.convertToInt(trip.hotelStars) > 0"></span>
                    <span class="fa fa-star" [class.checked]="this.convertToInt(trip.hotelStars) > 1"></span>
                    <span class="fa fa-star" [class.checked]="this.convertToInt(trip.hotelStars) > 2"></span>
                    <span class="fa fa-star" [class.checked]="this.convertToInt(trip.hotelStars) > 3"></span>
                    <span class="fa fa-star" [class.checked]="this.convertToInt(trip.hotelStars) > 4"></span>
                    {{trip.hotel}} </span>
                    <br>
                <span class="trip-section-item-property">Wyżywienie: {{trip.meals}}</span><br>
            </div>
            <div class="col-1 trip-section-item-image">
            </div>
            <div class="col-3 trip-section-item" style="text-align: center; align-self: center;">
                <span class="trip-section-item-oldPrize"><span *ngIf="trip.oldPrize !== undefined && trip.oldPrize !== null && trip.oldPrize !== ''" style="text-decoration: line-through; color:darkred;">{{trip.oldPrize + "zł"}}</span></span><br>
                <span class="trip-section-item-prize">{{trip.prize + "zł/os."}} </span><br>
                <div class="btn-more-section"><button class="btn btn-secondary btn-more" tabindex="0" (click)="goToTrip(trip.id)">więcej...</button></div>
            </div>
        </div>
    </div>
    </div>
</div>