.subpage-header{
    text-align: center;
}

.home-section{
    padding-top:80px;
}

.text-section-item{
    padding:20px;
}

.carousel-image-container{
    width: 100%;
}

.carousel-image{
    max-width: -webkit-fill-available;
    width: 100%;
}

.text-section-item-image{
    background: rgb(214, 214, 214);
}