<app-text-field fieldName="Krótka nazwa" [value]="this.subpage.shortName" [isMandatory]="true" (answered)="saveAnswer('shortName', $event.answer)"></app-text-field>
<app-text-field fieldName="Krótki opis" [value]="this.subpage.shortDescription" [isMandatory]="false" (answered)="saveAnswer('shortDescription', $event.answer)"></app-text-field>
<app-file-upload-field fieldName="Zdjęcie" [isMandatory]="true" [fileName]="this.subpage.imageName" [fileContent]="this.subpage.imageContent" (answered)="saveFile($event.imageName, $event.imageContent)"></app-file-upload-field>

<br>
<p style="text-align: center">TREŚĆ PODSTRONY</p>
<editor [apiKey]="tinymceKey" [init]="tinymceInit" [(ngModel)]="tinymceContent"></editor>

<br>
<p style="text-align: center">
    <button [disabled]="loading" class="btn btn-success" (click)="submit()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
        Zapisz
    </button>
</p>
